		body {
			margin: 0;
			padding: 0;
			font-family: Helvetica, sans-serif;
		}
		#topbar {
			width: 100%;
			background-color: #E2E4F6;
			height: 40px;
		}
		#nav-logo {
			height: 30px;
			float: left;
			margin: 5px 0 0 5px;
		}
		.topbar-section {
			float: left;
			border-left: 1px #CCCCCC solid;
			height: 100%;
		}
		.topbar-section:hover {
			cursor: pointer;
		}
		#signin-image {
			height: 30px;
			margin: 5px;
			float: left;
		}
		#signin-div {
			padding-right: 30px;
		}
		.topbar-text {
			font-weight: bold;
			font-size: 75%;
			position: relative;
			top: 11px;
			padding: 0 12px 0 12px;
		}
		#nav-downarrow {
			float: right;
			margin: 12px 5px auto 0;
		}
		#topnav-search {
			background-color: #C1C9E5;
			border: none;
			font-weight: bold;
			font-size: 14px;
			width: 130px;
			padding: 5px;
			margin: 5px 0 5px 5px;
			float: left;
		}
		#magnifying-glass {
			height: 22px;
			margin-top: 5px;
			margin-right: 1px;
			padding: 3px 2px 2px 0px;
			background-color: #C1C9E5;
		}
		div.clear {
			clear: both;
			height: 0;
		}
		#menu-bar-container {
			height: 100px;
			width: 100%;
			background-color: #BB302A;
		}
		div.page-width-container {
			max-width: 95%;
			min-width: 850px;
			margin: 0 auto;
		}
		#menu-bar-container {
			height: 84px;
			border-top: 1px solid gray;
		}
		#menu-bar {
			height: 95%;
		}
		a#menu-bar-header {
			margin: 0 0 0 15px;
			color: white;
			font-size: 40px;
			font-weight: normal;
			padding-top: 10px;
			text-decoration: none;
			cursor: pointer;
		}
		div#menu-bar-submenu {
			clear: both;
			width: 100%;
			min-width: 850px;
			height: 20px;
			margin: 12px 0 0 15px;
			position: relative;
			padding: 5px 0 0 0;
		}
		a.menu-bar-submenu-link {
			font-size: 14px;
			color: white;
			text-decoration: none;
			padding: 0px 8px;
			bottom: 0;
			border-right: 0.7px solid rgba(169, 169, 169, 0.8);
			margin-bottom: 20px;
		}
		a.menu-bar-submenu-link:hover {
			text-decoration: underline;
		}
		#first-submenu-link {
			padding-left: 0px;
		}
		#menu-bar-submenu-arrow {
			color: white;
		}
		#last-submenu-link {
			border-right: none;
		}
		#page-container {
			width: 100%;
			height: 1000px;
			margin: 0 auto;
			z-index: -100;
		}
		main {
			padding: 0;
			margin: 0;
		}
		h2.section-header {
			color: #404040;
			border-bottom: 3px solid #BB302A;
			width: 45px;
			font-weight: normal;
			font-size: 21px;
			margin-left: 15px;
		}
		img.headline-article-image {
			width: 60%;
			height: auto;
			margin-left: 14px;
			float: left;
		}
		div.headline-article-preview-text-div {
			margin-left: 10px;
			float: right;
			width: 35%;
			padding-top: 15px;
		}
		.headline-article-preview-text-div a {
			font-size: 28px;
			text-decoration: none;
			color: #1e1e1b;
			font-weight: bold;
		}
		.headline-article-preview-text-div a:visited {
			color: #5a5b5a;
		}
		.article-div a:hover {
			text-decoration: underline;
			color: rgb(58, 170, 223);
		}
		p.article-subtitle {
			color: #5a5b5a;
			font-size: 90%;
		}
		img.article-postdate-clock {
			height: 12px;
			color: #5a5b5a;
			display: inline;
		}
		span.article-postdate-counter {
			color: #5a5b5a;
			font-size: 13px;
			display: inline;
			vertical-align: center;
			border-right: 0.7px solid rgba(169, 169, 169, 0.8);;
			padding-right: 7px;
		}
		a.article-subtitle-subject {
			font-size: 13px;
			text-decoration: none;
			color: black;
		}
		img#nav-logo:hover {
			cursor: pointer;
		}
		.one-third-articles {
			height: 350px;
			padding-top: 30px;
		}
		.one-third-article-div {
			height: 100%;
			width: 29%;
			margin: auto 15px;
			float: left;
		}
		.one-third-article-image {
			width: 100%;
			margin: 5px auto;
			height: 140px;
		}
		a.one-third-article-header {
			text-decoration: none;
			color: #1e1e1b;
			font-weight: bold;
		}
		a.one-third-article-header:hover {
			text-decoration: underline;
			color: rgb(58, 170, 223);
		}